:root {
    --whait: rgb(255, 255, 255);
    --black: #000;
    --planirovaABC-color: #000;
    --text-color: #000;
    --svg-hover: #19bbb865;
    --transition_03: all 0.3s ease;
    --planirovaABC_font-size: 14px;
    --stroca_width: 1200px;
    --stroca-margin: 0 auto;
    --content: #19BBB9;
}

.wrapper {
    width: 100%;
}

.content {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 51%;
}
.right {
    width: 43%;
}

/* Etaj */

.Etaj {
    width: 100%;
    position: relative;
}

.Etaj_item {
    width: 100%;
    /* margin-bottom: 25px; */
    margin-top: -85px;
}

.Etaj_item__img {
    width: 100%;
    z-index: 1;
}

.etaj_item_svg {
    position: absolute;
    left: 2px;
    width: 811px;
    height: 528px;
    top: 84px;
}

.etaj_item_path {
    transition: var(--transition_03);
    cursor: pointer;
    z-index: 2;
}

.etaj_item_path:hover {
    fill: var(--svg-hover);
    fill-opacity: 1;
    opacity: 1;
}


/* .Planirovca */

.Planirovca {
    width: 90%;
    position: relative;
    margin: 37px 0 0;
}

.Planirovca img {
    width: 100%;
}

.planirovca_item_svg {
    position: absolute;
    top: 12px;
    width: 594px;
    left: 14px;
    height: 414px;
}

.planirovca_item_path {
    transition: var(--transition_03);
    cursor: pointer;
    opacity: 1;
}

.planirovca_item_path:hover {
    fill: var(--svg-hover);
    fill-opacity: 1;
    opacity: 1;
}

/* 
[data-planN="0"]{
    display: none;
} */
/* Cvartira */
.Cvartira{
    position: relative;
}

.cvartira_img {
    width: 50%;
}

.cvartira_img img {
    width: 100%;
}

/* cvartira_info */
.cvartira_info {
    width: 90%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 0;
}

.cvartira_info_item {
    border-left: solid 2px #dadada;
    padding-left: 10px;
    position: relative;
}

.cvartira_info_item_p {
    font-size: 18px;
}

.cvartira_info_item_span {
    font-size: 28px;
    font-weight: 500;
}

#cvartira_info_item_input{
    width: 180px;
    border: none;
    background: none;
    outline: none;
}
.cvartira_info_item_m2 {
    position: absolute;
    font-size: 12px;
    top: 3px;
    left: 100%;
}


/* Cvartira-3d */

.Cvartira-3d {
    width: 50%;
}


.Cvartira_3d__img {
    width: 100%;
    margin-top: 90px;
}

.Cvartira_3d__img img {
    width: 100%;
}

.cvartira_2{
    display: flex;
    padding-top: 50px;
}

@media (max-width: 1600px) {
    .content {
        width: 1400px;
    }



    .Cvartira_3d__img,
    .cvartira_img,
    .cvartira_info {
        margin-left: auto;
        margin-right: 0px;
    }


    .planirovca_item_svg{
        width: 520.61px;
        height: 335px;
        left: 12px;
        top: 24px;
    }
    .etaj_item_svg{
        left: 3px;
        width: 707px;
        height: 463px;
        top: 65px;    
    }
    .cvartira_info_item_p{font-size: 12px;}
    .cvartira_info_item_span{
        font-size: 21px;
    }
}

@media (max-width: 1400px) {
    .content {
        width: 1200px;
    }
    .cvartira_info_item-5 .cvartira_info_item_span{font-size: 16px;}
    .cvartira_info_item_p{font-size: 12px;}
    .cvartira_info{
        flex-wrap: wrap;
        gap: 10px;
    }
    .planirovca_item_svg{
        width: 446.57px;
        height: 290.02px;
        left: 10.25px;
        top: 20.25px;
    }
    .Etaj_item__img{
        margin-top: -100px;
    }
    .Etaj_item{margin-top: 22px;}
    .cvartira_info_item_p{font-size: 14px;}
    .cvartira_info_item_span{font-size: 20px;}
    .etadj__header{font-size: 17px;text-align: center;}
    .etaj_item_svg{
        left: 0px;
        width: 609px;
        height: 574px;
        top: -30px;
    }
}


@media (max-width: 1250px) {
    .content {
        width: 1000px;
    }

    .planirovca_item_svg{
        width: 373.37px;
        height: 238.32999999999998px;
        left: 8.16px;
        top: 18.16px;
    }
    .etadj__header{text-align: center;margin: 0;font-size: 14px;}
    /* .Planirovca{margin-top: 45px;} */
    .etaj_item_svg {
        left: 0px;
        width: 506px;
        height: 479px;
        top: -11px; 
    }
    .cvartira_2 {margin-top: 15px; padding-top: 60px;}
    .Planirovca{margin: 0;}
    .Etaj_item {margin-top: 40px;}
    .cvartira_info_item_p {font-size: 12px;}
    .cvartira_info_item_span {font-size: 16px;}
}

@media (max-width: 1050px) {
    .content {
        width: 800px;
        flex-direction: column;
    }


    .Etaj_item__img{
        /* height: 500px; */
    }

    .Etaj_item{
        top: -20px;
        position: relative;
    }
    .Planirovca{margin: -35px auto 0;}
    .left, .right{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .Cvartira{
        width: 100%;
        display: flex;
        /* align-items: center; */
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .Cvartira_1{
        width: 100%;
    }
    .Cvartira-3d{
        width: 43.8%;
    }
    .Cvartira_3d__img,
    .cvartira_img{
        margin: auto;
        margin: 0px;
    }
    .cvartira_info{
        position: absolute;
        /* bottom: -100px; */
        width: 100%;
    }
    .Etaj{width: 50%;}
    .etaj_item_svg{
        width: 396.62px;
        top: -43.78px;
        left: 1.81px;
        height: 347px;   
    }

    .planirovca_item_svg{
        width: 346.77px;
        height: 227.86px;
        left: 7.16px;
        top: 14.16px;
    }
    .Planirovca-{
        width: 50%;
        position: absolute;
        right: 0;
        top: -365px;
    }
    .etadj__header{margin: 0px;}
    .cvartira_2 {padding-top: 90px; margin-top: 20px;}
    .Etaj_item__img{margin-top: -60px;}
    .Planirovca- .etadj__header{position: relative;}
    .etadj__header{font-size: 19px;}
}
.wrapper{margin: 0 0 40px;}

@media (max-width:850px){
    .etaj_item_svg{
        width: 626.62px;
        top: -1.7800000000000011px;
        left: 0.81px;
        height: 486px;
    }
    .content {
        width: 700px;
    }
    .Planirovca-{
        position: relative;
        top: 0;
        width: 100%;
        margin: auto;
    }
    .cvartira_2{flex-direction: column;align-items: center; padding-bottom: 100px;}
    .Etaj{margin: auto;}
    .Etaj_item__img{height: auto;}
    .Cvartira-3d{width: 100%;}
    .cvartira_img{width: 100%;}
    .planirovca_item_svg{
        width: 604.77px;
        height: 415.86px;
        left: 14.16px;
        top: 14.16px;
    }
    .Etaj {width: 90%;margin: 0 auto 50px;}
    .etadj__header {margin: 0 0 -30px;}
    .wrapper{margin: 0 0 0px;}
    .cvartira_img img{margin-top: 35px;}

}

@media (max-width:740px){
    .content {
        width: 600px;
        flex-direction: column;
    }

    .etaj_item_svg{
        width: 536.62px;
        top: -45.78px;
        left: 1.8100000000000023px;
        height: 485px;   
    }
    .planirovca_item_svg{
        width: 517.63px;
        height: 361.26px;
        left: 12.11px;
        top: 10.11px;
    }
}

@media (max-width:650px){
    .content {
        width: 500px;
        flex-direction: column;
    }


    .Cvartira-3d{
        width: 100%;
        margin: 0 0 50px;
    }
    .planirovca_item_svg {
        width: 430.3px;
        height: 281.56px;
        left: 10.21px;
        top: 18.21px;
    }
}
@media (max-width:650px){

    .content {
        width: 500px;
        flex-direction: column;
    }
    .left, .right{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .Planirovca img,
    .cvartira_img,
    .Cvartira_3d__img{
        width: 100%;
    }
    .Cvartira{
        flex-direction: column;
    }
    .cvartira_info_item_p {
        font-size: 12px;
    }
    .cvartira_info_item_span{
        font-size: 21px;
    }
    .etaj_item_svg{
        width: 446.62px;
        top: -85.78px;
        height: 478px;
        left: 1.8100000000000023px;  
    }
    .etadj__header{text-align: center;}
}

@media (max-width:550px){
    .galavnoe1 h3 {
        width: 100%;
        padding: 30px 50px;
        text-align: left;
    }
    .content {
        width: 300px;
        flex-direction: column;
    }
    .left, .right{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .planirovca_item_svg {
        width: 259.61px;
        height: 171.41px;
        left: 6.12px;
        top: 10.12px;
    }

    .cvartira_2 {
        padding-top: 117px;
    }
    .etaj_item_svg {
        width: 269.62px;
        top: -78.78px;
        height: 296px;
        left: 0.8100000000000023px;
    }
    .Planirovca- .etadj__header{font-size: 19px;}
    .Etaj .etadj__header{font-size: 19px;}
    .Etaj_item {margin-top: 60px;}
    .Planirovca{margin: -57px auto 0;}
    .right{margin-top: -26px;}
    .etadj__header{margin: 0;}
    .cvartira_img .etadj__header{margin-bottom: 10px;}
    .cvartira_img img{margin-top: 0px;}

}

@media (max-width:400px) {

    .etaj_item_svg{
        width: 269.1px;
        top: -78.78px;
        left: 0.04999999999999716px;   
    }
}

@media (max-width:350px){
    .content {
        width: 200px;
        flex-direction: column;
    }
    .Etaj_item__img{
        margin-top: -56px;
    }
    .planirovca_item_svg{
        width: 172.42px;
        height: 113.96px;
        left: 4.12px;
        top: 6.12px;
    }
    .etaj_item_svg{
        width: 179.1px;
        top: -118.78px;
        left: 0.05px;
    }
    .cvartira_2{margin-top: 46px;}
    .Planirovca- .etadj__header {
        font-size: 13px;
        padding: 10px 0;
    }
    .Etaj .etadj__header {
        font-size: 13px;
    }
    .Etaj_item {
        margin-top: 40px;
    }
}

@media (max-width:250px){
    .content {
        width: 100%;
        flex-direction: column;
    }
    .etaj_item_svg{
        width: 90%;
        top: -118px;
        left: 30.15px;
    }
}

.anime{
    transform: scale(0);
    position: absolute;
    top: 0;
}

.brends_block-head{
    display: none;
    position: absolute;
    top: 0;
}


.Planirovca-{
    margin-bottom: -58px;
}


.Cvartira_3d__img{width: 100%;}
.Cvartira_1{display: flex;flex-direction: column;position: relative;}
.user_bron{display: none;}



.etadj__header_img{
    position: absolute;
    font-size: 16px;
}


.cvartira_info{
    background-color: rgb(237, 237, 237);
    padding: 10px;
    border-radius: 5px;
}


.cvartira_info_item{
    border-color: #fff;
}
.cvartira_info_item-5 .cvartira_info_item_span {
    font-weight: 900;
}




.galavnoe1 {
    height: 130px;
}


.galavnoe1 h3 {
    bottom: 0;
    width: 275px;
    padding: 20px;
    text-align: center;
}


@media (max-width:1200px){
 .galavnoe1 {
    height: 200px;
 }
}


@media (max-width: 1050px){
.etadj__header {
    margin: -33px 0 30px;
}
}

@media (max-width: 550px){
.cvartira_2 {
    padding-top: 211px;
}
}

@media (max-width: 400px){
.galavnoe1 {
    height: 255px;
}
}

@media (max-width: 400px){
.Planirovca- .etadj__header {
    position: absolute;
    font-size: 23px;
    top: 0;
    margin-top: -5px;
}
}


@media (max-width: 350px){
.Etaj .etadj__header {
    font-size: 18px;
    text-align: left;
}
}

@media (max-width: 400px){
.Planirovca {
    margin: 40px auto 0;
}
}

@media (max-width: 400px){
.Cvartira-3d {
    width: 100%;
    margin: 32px 0 64px;
}
}

@media (max-width: 400px){
.Planirovca- .etadj__header {
    position: absolute;
    font-size: 18px;
    top: 0;
    margin-top: -5px;
        text-align: left;
}
}

@media (max-width: 400px){
    .etadj__header {
        margin: -54px 0 30px;}
    }
@media (max-width: 1400px){
    .etadj__header_img{font-size: 12px;}
    .wrapper{margin-top: 50px;}
}
@media (max-width: 1250px){
    .wrapper{margin-top: 0;}
    .Cvartira_3d__img{
        margin-top: 40px;
    }
    .Cvartira-3d{margin-top: 60px;}
    .cvartira_img{margin-top: 60px;}
}
@media (max-width: 1200px){
    .wrapper{margin-top: 0;}
}
@media (max-width: 1000px){
    .etadj__header_img{
        font-size: 16px;
        text-align: center;
        width: 100%;
    }
}
@media (max-width: 700px){
    .Cvartira_3d__img{margin-top: 30px;}
    .cvartira_2{padding-bottom: 35px;}
    .cvartira_2 {
        padding-top: 159px;
    }
    .cvartira_info{margin-top: 30px;}
    .Cvartira-3d{margin-bottom: 0;}
}

@media (max-width: 400px){
    .Cvartira_3d__img{margin-top: -10px;}
    .Cvartira-3d{margin-top: 80px;}
    .Planirovca{margin-top: 0;}
    .right{margin-top: -40px;}
    .calculator__otvet, .calculator__vibor{padding-bottom: 60px;}
}
@media (max-width: 350px){
    .Etaj_item {
        margin-top: 73px;
    }
    .Planirovca{margin-top: 60px;}
    .Cvartira-3d{margin-top: 123px;}

}